body {
    font-family: "Verdana Old Mono", monospace;
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: black;
    display: flex;
    flex-direction: column; /* Cambiato in column per centrare anche verticalmente con align-items */
    justify-content: center; /* Centra verticalmente gli elementi figli */
    align-items: center;    /* Centra orizzontalmente gli elementi figli */
    min-height: 100vh;
    background-color: #fffff; /* Aggiunto un colore di sfondo per la pagina */
}

.countdown {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    padding: 20px;
    
    
    background-color: #fff;

}

.countdown span {
    margin: 0 10px;
}

header {
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    text-align: center; /* Centra il contenuto dell'header (opzionale) */
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

.hero {
    position: relative;
    text-align: center;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    flex-wrap: wrap;
    width: 100%;
}

.product {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 25%;
    height: auto;
    transition: transform 0.3s ease;
}

.product:hover img {
    transform: scale(1.1);
}

.purchase-options {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 10;
}

.purchase-options.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, 10px) scale(1.1);
}

.purchase-options button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.buy-now {
    font-weight: bold;
    font-family: "Verdana Old Mono", monospace;
    background: none;
    border: none;
    color: black;
    padding: 0;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.product:hover .buy-now {
    background-color: #f39c12;
    color: white;
}

.coming-soon {
    font-family: "Verdana Old Mono", monospace;
    font-size: 0.8em;
    color: gray;
    margin-top: 10px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
}
